<!DOCTYPE html>
<html>
    <head>
        <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
        <meta name="viewport" content="width=device-width" , initial-scale=1.0" >
         <link rel="stylesheet" href="/css/chatroom.css">
        <link href="https://cdn.jsdelivr.net/gh/rastikerdar/vazirmatn@v33.003/Vazirmatn-font-face.css" rel="stylesheet" type="text/css" />
       <link rel="stylesheet" href="chatstyle.css">
       <link rel="shortcut icon" href="https://freesvg.org/img/Blue-Star.png" />
<title id="Title"></title>
    </head>
    <body class="kol">
        
        <a class="wellcomeee" id="wel"></a>
        <div class="chatbox">
            <h3 class="wellcome"> chatbox </h3>
            <div class="massage">
                <P class="me"></P>
                <P class="client"></P>
            </div> 
           <div class="massage">
                <P class="me"></P>
                <P class="client"></P>
            </div> 
            <div class="massage">
                <P class="me"></P>
                <P class="client"></P>
            </div> 
            <div class="massage">
                <P class="me"></P>
                <P class="client"></P>
            </div> 
             <div class="massage">
                <P class="me"></P>
                <P class="client"></P>
            </div> 
            <div class="massage">
                <P class="me"></P>
                <P class="client"></P>
            </div> 
            <div class="massage">
                <P class="me"></P>
                <P class="client"></P>
            </div> 
            <div class="massage">
                <P class="me"></P>
                <P class="client"></P>
            </div> 
            <div class="massage">
                <P class="me"></P>
                <P class="client"></P>
            </div> 
           <div class="massage">
                <P class="me"></P>
                <P class="client"></P>
            </div> 
            <div class="massage">
                <P class="me"></P>
                <P class="client"></P>
            </div> 
            <div class="massage">
                <P class="me"></P>
                <P class="client"></P>
            </div> 
            <div class="massage">
                <P class="me"></P>
                <P class="client"></P>
            </div> 
            <div class="massage">
                <P class="me"></P>
                <P class="client"></P>
            </div> 
            <div class="massage">
                <P class="me"></P>
                <P class="client"></P>
            </div> 
            <div class="massage">
                <P class="me"></P>
                <P class="client"></P>
            </div> 
            <div class="massage">
                <P class="me"></P>
                <P class="client"></P>
            </div> 
            <div class="massage">
                <P class="me"></P>
                <P class="client"></P>
            </div> 
            <div class="massage">
                <P class="me"></P>
                <P class="client"></P>
            </div> 
            <div class="massage">
                <P class="me"></P>
                <P class="client"></P>
            </div> 
            <div class="massage">
                <P class="me"></P>
                <P class="client"></P>
            </div> 
            <div class="massage">
                <P class="me"></P>
                <P class="client"></P>
            </div> 
            <div class="massage">
                <P class="me"></P>
                <P class="client"></P>
            </div> 
            <div class="massage">
                <P class="me"></P>
                <P class="client"></P>
            </div> 
            <div class="massage">
                <P class="me"></P>
                <P class="client"></P>
            </div> 
            <div class="massage">
                <P class="me"></P>
                <P class="client"></P>
            </div>
</div>

<button onclick="send()" class="send">send</button>
<input type="text" id="mas" class="input" placeholder="enter your massage">
<br><br>
<button onclick="exit()" class="buttonn"> Exit  </button>
<button onclick="gohome()" class="buttonn">home</button>
    </body>

   
        <script src="/js/chatroom.js"> </script> 
    
   

</html>
