<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width" , initial-scale=1.0" >
        <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
        <title>contacts</title>
        <link rel="stylesheet" href="/css/contacts.css">
        <link rel="shortcut icon" href="https://freesvg.org/img/Blue-Star.png" />
    </head>
    <body class="kol" id="kolbody">
      
    
    
    <button onclick="exit()" class="homebutton">exit</button>
    <br> <br>
    <a class="search" href="/users/search">find your friends in starrychat</a>
    <a class="search" href="/users/settings">settings</a>
    <a class="search" id="myprofile">myprofile</a>
    
      <br>
      <h1 class="wellcome">contacts</h1>
      <br> <br>  <br> <br>
      
     
      

      <div class="divcon"></div>
      
  </body>
    <script src="/js/contacts.js"> </script>
</html>
