<!DOCTYPE html> 
<html>
    <head>
        <meta name="viewport" content="width=device-width" , initial-scale=1.0" >
        <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
        <link rel="stylesheet" href="/css/login.css">
        <title>login</title>
        <link rel="shortcut icon" href="https://freesvg.org/img/Blue-Star.png" />
    </head>
    <body class="kol">
        <br>  <br>  <br>  <br>  <br>  <br>  <br>  <br>  <br>  <br>  <br>
        <h1 id="kk" class= "wellcome">LOGIN</h1 >
        <label for="user" class="wellcom">username:</label>
        <input type="text" id="user" class="in">
        <br>
        <label for="password" class="wellcom">password:        </label>
        <input type="password" id="password" class="in">
        <br>
        <br>
        <br>
        <button onclick="login()" class="bb" >login</button>
        <br><br><br>
        <a href="/users/signup"  class="signup">if you dont have account click here</a>
       
    </body>
    <script src="/js/login.js"></script>
     
</html>