<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width" , initial-scale=1.0" >
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <link rel="stylesheet" href="/css/search.css">
    <title>search</title>
    <link rel="shortcut icon" href="https://freesvg.org/img/Blue-Star.png" />
  </head>
  <body class="kol">
   
    <br />
    <button onclick="gohome()" class="gohome"> home</button>
    <button onclick="exit()" class="homebutton">exit</button>
    <br /> 
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <h1 class="wellcome">search</h1>
    <label for="title" class="wellcom1">username:</label>
    <input type="text" id="username" class="in" />
    <br/>
    <br />
    <br />
    <button onclick="search()" class="bb">search</button>
    </body>
  <script type="text/javascript" src="/js/search.js"  ></script>
 </html>
