<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width" , initial-scale=1.0" >
        <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
        <title>settings</title>
        <link rel="stylesheet" href="/css/setting.css">
        <link rel="shortcut icon" href="https://freesvg.org/img/Blue-Star.png" />
    </head>
    <body class="kol">
        <br> 
        <button onclick="gohome()" class="gohome" > home</button>
        <br>  <br>  <br>  <br>  <br>  <br>  <br>  <br>  <br>  <br>
        <label for="password" class="wellcom">password:</label>
        <input type="password" id="password" class="in">
        <br>
        <label for="bio" class="wellcom">biography:</label>
        <input type="text" id="bio" class="in">
        <br>
        <label for="favorites" class="wellcom">favorites: </label>
        <input type="text" id="favorites" class="in">
        <br>
        <label for="birthyear" class="wellcom">birthyear:</label>
        <input type="text" id="birthyear" class="in">
        <br>
        <label for="profile" class="wellcom">photo(url):</label>
        <input type="text" id="profile" class="in">
        <br>
        <br>
        <br>
        <button onclick="confirm()" class="bb" >confirm</button>
        <br><br>
     </body>
    <script src="/js/setting.js"></script>
</html>