<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width" , initial-scale=1.0" >
        <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
        <title id="Title"></title>
        <link rel="stylesheet" href="/css/user.css">
        <link rel="shortcut icon" href="https://freesvg.org/img/Blue-Star.png" />
    </head>
    <body class="kol">
    <br>
    <button onclick="back()" class="homebutton">home</button>
    <br><br>
    <div class="pic">
    <img  class="img" id="prof">
    </div>
    <br><br>
    <div class="other">
    <a1 id="un"></a1>
    </div>
    <div class="other">
    <t></t>
    </div>
    <div class="other">
    <t ></t>
    </div>
    <div class="other">
    <t ></t>
    </div>
   </body>
    <script src="/js/user.js"> </script>
</html>
